@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-color: #D9D9D9;
}

main {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #navbar-section {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    height: 60px;
}

nav {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 30px;
}
.AutomatersLogo{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
.HeroSection{
    background: linear-gradient(180deg, #075E52 0%, #043443 100%);
    width: 100%;
    height: 900px;
    color: white;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Hero p {
    color : #043443;
    font-weight: bolder;
}
.Heading{
    height: 150px;
    font-size: 80px;
    font-weight: bolder;
    margin-top: 60px;
}
.box{
    width: 350px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    margin: 40px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.box-container {
    text-align: center;
    margin: 0 40px; /* Adjust as needed */
    margin-top: 45px;
}
.box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-30px);
}

nav div {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
}

nav a::before {
    content: "";
    display: block;
    height: 2px;
    bottom: 0;
    width: 0px;
    left: 0;
    position: absolute;
    background-color: white;
    transition: width 0.2s ease-out;
}

nav a:hover::before {
    width: 100%;
}

#construction-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

#construction-section h1 {
    font-size: 40px;
}

#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.AboutSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: #D9D9D9;
    color: #043443;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    
}
.AboutSectiondiv {
    background: #D9D9D9;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.text-container-about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    max-width: 600px;
    font-size: 25px;
}

.image-and-text-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
}
.textabout{
    color: #043443;
}
.textbelowthelogoinaboutsection{
    font-size: 60px;
    color: #043443;

}
.AboutImage {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
}



footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer section {
    width: 100%;
    max-width: 1400px;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: black;
}
